.results {
  padding-bottom: 20px;
  .no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
  }
}
