.profile-container {
  margin: 0 40px;
  .profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #ccc;

    @media (min-width: 767.98px) {
      flex-direction: row;
      gap: 20px;
    }

    .profile-avatar {
      .avatar-image {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        border: 5px solid black;
      }
    }

    .profile-info {
      h1 {
        span {
          display: block;
          &.fullName {
            font-size: 2rem;
            line-height: 1.5;
          }

          &.nickName {
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
            line-height: 1;
            color: #57606a;
          }
        }
      }

      .profile-bio {
        margin-bottom: 1rem;
        font-size: 0.9rem;
        line-height: 1.6;

        a {
          text-decoration: none;
          color: black;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
