.search-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 20px;
  .info-results {
    font-size: 0.9rem;
    color: #24292f;
  }
  button {
    all: unset;
    display: flex;
    gap: 5px;
    align-items: center;
    color: #57606a;
    font-size: 0.9rem;
    span {
      font-size: 0.9rem;
    }
    &:hover {
      cursor: pointer;
      color: #0969da;
    }
  }
}
