.layout {
  background-color: white;
  position: relative;
  header {
    padding: 10px;
    background-color: #0969da;
  }

  .children {
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;

    @media (min-width: 767.98px) {
      margin: 0 auto;
      max-width: 800px;
    }
  }
}
