:root {
  --input-focus-h: 0;
  --input-focus-s: 0%;
  --input-focus-l: 20%;
}

.search {
  padding-bottom: 20px;
  input {
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    padding: 1rem 1.5rem;
    font-family: inherit;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: 180ms box-shadow ease-in-out;
    color: #555;

    &::placeholder {
      color: #ccc;
    }

    &:focus {
      border-color: #0969da;
      box-shadow: 0 0 0 3px rgba(9, 105, 218, 0.3);
      outline: none;
    }
  }
}
